* {
	color: #ffffff;
	text-align: center;
	margin: auto;
	font-family: garamond;
}

body {
	background: #303841;
	font-size: 25px;
}

.div-colonnes {display: flex;}
.div-alphabets h3 {width: 100%;}

h1 {
	margin-bottom: 80px;
	margin-top: 80px;
	width: 80%;
}

h2 {
	margin-bottom: 60px;
	margin-top: 60px;
	width: 60%;
}

h3 {
	margin-bottom: 40px;
	margin-top: 40px;
	width: 40%;
}

img {
	filter: drop-shadow(0 0 1px #ffffff);
	height: 50px;
}
.img-1-accent {height: 62.5px;}
.img-2 {height: 105px;}
.img-2-accent {height: 117.5px;}
.img-3 {height: 160px;}
.img-3-accent {height: 172.5px;}
.img-3-accents-2 {height: 185px;}
.img-4 {height: 215px;}
.img-4-accent {height: 227.5px;}
.img-5 {height: 270px;}
.img-5-accent {height: 277.5px;}
.img-6 {height: 325px;}
.img-6-accent {height: 277.5px;}
.img-7 {height: 380px;}
.img-7-accent {height: 387.5px;}

p {font-size: 20px;}

.span-citation {font-style: italic;}
.span-surligné {text-decoration: overline;}
.span-souligné {text-decoration: underline;}

table {border: 2px #ffffff solid;}
.table-grec {border-color: #009900;}
.table-cyrillique,
.table-copte {border: #009900 dotted;}
.table-latin {border-color: #990000;}
.table-français,
.table-roumain,
.table-anglais {border: #990000 dotted;}
.table-arabe,
.table-syriaque,
.table-hébreu {
	border: #000099 dotted;
	font-size: 35px;
	letter-spacing: 0;
}

td {
	border: 1px #ffffff solid;
	font-family: georgia;
	letter-spacing: 4px;
}
#table-cas td {letter-spacing: 0;}
#table-légende td {
	letter-spacing: 0;
	font-size: 25px;
}

.tr-diminutif {border: 1.5px #eddb34 dotted;}

@media (max-width: 1000px) {

	body {font-size: 50px;}

	.div-colonnes {display: block;}

	img {filter: drop-shadow(0 0 0);}

	.table-arabe,
	.table-syriaque {
		border: #000099 dotted;
		font-size: 70px;
		letter-spacing: 0;
	}

}
